{% extends 'base.html' %}
{% block content%}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome To My Website.</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                   <div class="col-8">
                       <br><br>
                   <p align="justify">
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer leo nisl, placerat sit amet magna sit amet, tincidunt sagittis velit. Maecenas ullamcorper commodo ipsum, vel bibendum ipsum scelerisque id. In cursus facilisis massa, eu cursus orci viverra at. Vestibulum et tempus nunc. Vestibulum in cursus dolor, sit amet vulputate turpis. Sed vehicula ornare nunc, vel vulputate arcu dignissim quis. Vivamus euismod, turpis id pulvinar rhoncus, nibh nunc scelerisque velit, sed accumsan erat leo sed massa. Fusce tristique viverra lorem in lobortis. Maecenas condimentum sed orci at euismod. Proin ex dui, ultrices at nisl et, pellentesque porttitor orci. Nulla dui lacus, cursus non lorem at, blandit sagittis arcu.
<br>
Maecenas viverra augue nec metus facilisis, at imperdiet neque bibendum. Mauris id ligula turpis. Vestibulum efficitur odio sed mi condimentum tincidunt. Donec viverra id dui a cursus. Nulla convallis convallis tortor ac tempus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam dignissim ultrices risus eget sodales. Quisque pulvinar euismod neque, in mattis sem vehicula at.
<br>
Maecenas condimentum est tincidunt sem sagittis egestas. Phasellus pellentesque tortor leo, sit amet iaculis ex sodales vel. Maecenas et mollis ipsum. Nulla dignissim eros eget ex sollicitudin, id fringilla turpis mattis. Curabitur tristique eleifend ex, sit amet sollicitudin tellus mollis eu. Integer tincidunt dictum leo id aliquet. Aenean vel velit sapien. Morbi rutrum arcu eros, ut varius lectus consequat eu. Maecenas vulputate maximus metus, quis facilisis est consequat vel. In vel ligula vel nibh luctus hendrerit. Mauris at magna augue.
                 <br><br>
                   </div>
                </center>
            </div>
            </div>
{% endblock %}

